body,html{
    height:100%;
    padding:0px;
    margin:0px;
}
.background{
    background-image: url(../img/fondo.jpg);
    position: fixed;
    background-size: 100% 100%;
}


.left,.right{
    display: inline-block;
    background-color: #719ece;
    width: 200px;
    height: 200px;
    position: fixed;
}

.left{
    left: 0px;
}

.right{
    right: 0px;
}

#cpanel,#menu{
    text-align: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    padding-top: 25px;
}
li{
    margin: 20px 0px 20px;
}

#nave{
    text-align: center;
    width: 100%;
    height: 20%;
    position:fixed;
    z-index: -1;
}
#nave img{
    height: 100%;
}

#moon{
    text-align: center;
    width: 100%;
    height: 20%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}
#moon img{
    width: 100%;
    height: 100%;
}
