body,html{
    height:100%;
    padding:0px;
    margin:0px;
}
/*Fondo*/
#background{
    width: 100%;
    height: 100%;
    position: fixed;
}
#background img{
    width: 100%;
    height: 100%;
}

/*Panel de control y menú*/
.left,.right{
    display: inline-block;
    background-color: #719ece;
    width: 210px;
    height: 200px;
    position: fixed;
}
.right{
    right: 0px;
}
.left{
    left: 0px;
}
#cpanel,#menu{
    text-align: center;
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
    padding-top: 25px;
}
#pausa:hover,#reiniciar:hover,#instruccion:hover{
    font-size: 105%;
}
li{
    font-size: 185%;
    margin-bottom: 20px;
}
a{
    color: black;
    text-decoration: none;
}

/*Nave*/
#nave{
    text-align: center;
    width: 100%;
    height: 20%;
    position:fixed;
}
#nave img{
    height: 100%;
}

/*Luna*/
#moon{
    text-align: center;
    width: 100%;
    height: 20%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}
#moon img{
    width: 50%;
    height: 100%;
}

/*Menú de la version móvil*/
.smenu{
    display: none;
}
